.VSCode
app
.python-version
cdps-pc2.tar.gz
__pycache__
auto-p2.json
*.qcow2
*.xml
tmp_files
.vscode
.history
kubernetes/productpage/productpage-deployment.yaml
kubernetes/reviews/reviews-deployment.yaml